# Server
PORT=8080
ENV=development

# Database
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL="mysql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME"

# JWT
JWT_SECRET=
JWT_EXPIRY_HOURS=24
REFRESH_TOKEN_EXPIRY_DAYS=30

# Nomba
NOMBA_BASE_URL=https://sandbox.api.nomba.com/v1
NOMBA_ACCOUNT_ID=
NOMBA_SUB_ACCOUNT_ID=
NOMBA_CLIENT_ID=
NOMBA_PRIVATE_KEY=
NOMBA_WEBHOOK_SECRET=

# Google Cloud Storage
GCS_BUCKET_NAME=
GCS_CREDENTIALS_JSON=

# Firebase
FCM_SERVER_KEY=

# Brevo (Email OTP)
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
